{
  BasedOnStyle: LLVM,
  Language: Cpp,

  AlignAfterOpenBracket: Align,
  AlignConsecutiveAssignments: false,
  AlignConsecutiveDeclarations: false,
  AlignEscapedNewlines: false,
  AlignOperands: false,
  AlignTrailingComments: false,
  AlwaysBreakAfterReturnType: None,
  AlwaysBreakBeforeMultilineStrings: false,
  AlwaysBreakTemplateDeclarations: true,
  BreakBeforeBinaryOperators: None,
  BreakBeforeTernaryOperators: false,
  CompactNamespaces: false,
  ConstructorInitializerAllOnOneLineOrOnePerLine: true,
  FixNamespaceComments: true,
  IndentCaseLabels: false,
  NamespaceIndentation: None,
  PointerAlignment: Left,
  SortIncludes: false,
  SortUsingDeclarations: false,
  SpaceAfterCStyleCast: true,
  SpaceAfterTemplateKeyword: false,
  SpaceBeforeAssignmentOperators: true,
  SpaceBeforeParens: ControlStatements,
  SpaceInEmptyParentheses: false,
  SpacesInAngles: false,
  SpacesInCStyleCastParentheses: false,
  SpacesInSquareBrackets: false,
  Standard: Cpp11,
  ColumnLimit: 0,

  BreakBeforeBraces: Attach,
  BreakConstructorInitializers: BeforeComma,
  IndentWidth: 2,
  Cpp11BracedListStyle: true,
  SpacesInParentheses: false,
  TabWidth: 2,
  UseTab: Never,
}